
.track-content {
  padding:20px 30px;
  font-size: 14px;
}

.step {
  position: relative;
  padding-bottom: 40px;
  padding-left: 50px;
  margin-bottom: 10px;
}
.step:before{
  content: "";
  width: 2px;
  background: #dadada;
  height: 92%;
  position: absolute;
  top: 15px;
  left:0;
}
.step.steplast{
  padding-bottom: 0;
}
.step:after{
  content: "";
  width: 10px;
  background: #dadada;
  height: 10px;
  position: absolute;
  top: 5px;
  left:-4px;
  border-radius: 50%;
}
.step.steplast:before{
  display: none;
}

p{
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 5px 0;
  font-size: 13px;
}
.step-active:before{
  background: #23a664;
}
.step-active:after{
  background: #23a664;
}
.step {
  color:rgba(0,0,0,0.5);
}
.step-active{
  color:rgba(0,0,0,0.9);
}
.trackid{
  background: #f9f9f9;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color:rgba(0,0,0,0.7);
}
ion-grid{
  padding: 0 !important;
}
.trackid p {
  font-size: 13px;
  font-weight: bold;
}