// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-content.whitebg {
   --background: #fff;
}
ion-toolbar {
  --color: #000 !important;
  text-transform: uppercase;
  --background: #fed229 !important;
  font-weight: bold;
  --min-height: 45px;
  font-size: 15px;
}

ion-header ion-title{
  font-size: 15px !important;
}

.otp-text p {
  font-size: 14px;
  color:rgba(0,0,0,.8);
}
.otppage ion-button{

  --border-radius: 0 !important;

}
#divInner input:focus{
  outline: none;
}
.form-row ion-item {
  --border-width: 0px 0px 0px 0px;
  --min-height: 30px;
  --padding-start: 0px;
  --highlight-color-valid: #f2c811;
}
.form-row{
  margin-bottom: 10px;
}
.form-row ion-label {
  font-size: 14px;
  display: block;
  padding-bottom: 8px;
}
.form-row.select-drop ion-label{
  padding-bottom: 0px;
}
.form-row {
  position: relative;
}
.form-row ion-input{
  --padding-start: 50px !important;
  --padding-top: 8px;
  --padding-bottom: 8px;
}
.ion-icon-content {
  background: #000;
  position: absolute;
  left: 0;
  padding: 10px 10px;
  top:0;
}
.ion-icon-content ion-icon {
  color:rgba(255,255,255,0.6);
}
.form-row ion-select {
  --padding-start: 50px !important;
}
.profile-img{
  width: 80px;
  height: 80px;
  margin: 0 auto;

  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  //border: 2px solid rgba(255,255,255,0.5);
}
.profile-img ion-icon{
  font-size: 80px;
}
.profile-row {
  background: #f2c811 !important;
  padding: 20px 0;
}
.profile-img svg{
  width: 82px !important;
  height: 82px;
  fill: #fff;

}
ion-content.blackbg {
  --background: #f2c811;
}
.category ion-button {
  font-size: 14px;
  font-weight: normal;
  --background: #fff !important;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  text-align: left;
  color:rgba(0,0,0,0.7);
}

.category ion-button svg {

  margin-right: 10px;

}